.lang_switcher_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $offsetA;

  .lang_switcher {
    li {
      float: left;
      a {
        padding: $offsetA;
        border: 1px solid var(--primary-silver);
        border-radius: 5px;
        color: var(--primary-white);
      }
    }
  }
}
.page {

  h1 {
    color: var(--primary-white);
  }

  .coins_table {
    background: white;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;

    th {
      text-align: left;
      border-bottom: 1px solid var(--primary-silver);
    }

    th{
      padding: $offsetA $offsetD;
    }
  }
}
