.coin_table_row {
  background: white;
  transition: background $speed-fast ease-in-out;

  &:hover {
    cursor: pointer;
    background: var(--primary-silver)
  }
  td {
    padding: $offsetA $offsetD;

    .coin_image {
      width: rem(30);
      hegiht: rem(30);
    }
  }
}
