* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 0;
  background: none;
  vertical-align: top;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: transparent;
  &,
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

:root {
  --primary: #293746;
  --primary-dark: #1c2630;
  --primary-silver: #CCCCCC;
  --primary-white: #FFFFFF;
}

.light-mode {
  --primary: #d9d7d7;
  --primary-dark: #bfada3;
  --primary-silver: #cccccc;
  --primary-white: #FFFFFF;

}

text {
  font-family: $roboto;
}

li {
  display: block;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a,
span {
  transition: $speed-fast color, $speed-fast background;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;

  @include mobile {
    font-size: 16px;
    line-height: normal;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-dark);
  border-radius: 10px;
  &:hover {
    background-color: var(--primary);
  }
}

::selection {
  background: var(--primary);
}

html,
body,
.root,
main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-dark);
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--primary-dark);
  height: 100%;
}

html {
  font: 300 19px/1.31578947368 $roboto;
  user-select: auto;
  -webkit-text-size-adjust: 100%;

  &.browser-safari {
    user-select: auto;
  }
  @media screen and (max-width: 1300px) {
    font-size: 17px;
  }
  @media screen and (max-width: 1120px) {
    font-size: 15px;
  }
  @media screen and (max-width: 900px) {
    font-size: 12px;
  }
  @include mobile {
    font-size: 22px;
  }
  @media screen and (max-width: 374px) {
    font-size: 20px;
  }
}

.show-mobile {
  @include not-mobile {
    display: none !important;
  }
}
.show-desktop {
  @include mobile {
    display: none !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.page {
  margin: $offsetA auto;
  max-width: rem(1440);
}
