@use 'sass:math';

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
    opacity: 1;
  }
  &:-moz-placeholder {
    @content;
    opacity: 1;
  }
  &::-moz-placeholder {
    @content;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    @content;
    opacity: 1;
  }
}

@mixin mobile {
  @media screen and (max-width: 734px) {
    @content;
  }
}

.my-class {
  @include mobile() {
    @media screen and (max-width: 734px) {
      .button {
        width: 100px;
      }
    }
  }
}

@mixin not-mobile {
  @media screen and (min-width: 735px) {
    @content;
  }
}

@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@function rem($size) {
  $remSize: math.div($size, 19);
  @return #{$remSize}rem;
}

@function per($size, $guide: 1440) {
  $per: $size / $guide * 100;
  @return #{$per + '%'};
}

$roboto: 'Roboto';
